@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-main {
    @apply bg-mainWhite rounded-custom shadow-custom py-5 px-4;
  }
  .button-small {
    @apply duration-300 hover:bg-darkWhite rounded-custom w-7 h-7 flex justify-center items-center text-lightGray;
  }
  .input-main {
    @apply w-full block py-2 px-4 border border-lightGray dark:bg-darkWhite text-mainGray rounded-custom focus:outline focus:border-accent outline-none;
  }
}

:root {
  --main-white: #fffeff;
  --dark-white: #f1f1f1;
  --main-gray: #4d5559;
  --light-gray: #b3b3b3;
  --half-light-gray: #767676;
  --super-light-gray: #dbdbdb;
  --accent: #63a4d6;
  --accent-hover: #4091cf;
}

.dark {
  --main-white: #2d2d2d;
  --dark-white: #3f3f3f;
  --main-gray: #ededed;
  --light-gray: #c1c1c1;
  --half-light-gray: #7d7d7d;
  --super-light-gray: #7a7a7a;
  --accent: #63a4d6;
  --accent-hover: #4091cf;
}

.round-up {
  height: 30px;
  background: radial-gradient(
    circle at 100% 100%,
    rgba(204, 0, 0, 0) 15px,
    var(--main-white) 15px
  );
  background-position: top 0, left 0;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  padding: 14px;
}

.round-down {
  height: 30px;
  background: radial-gradient(
    circle at 100% 0,
    rgba(204, 0, 0, 0) 15px,
    var(--main-white) 15px
  );
  background-position: bottom 0, left 0;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  padding: 14px;
}

.loader {
  width: 120px;
  aspect-ratio: 1;
  display: grid;
  grid: 50%/50%;
  color: var(--accent);
  border-radius: 50%;
  --_g: no-repeat linear-gradient(currentColor 0 0);
  background: var(--_g), var(--_g), var(--_g);
  background-size: 50.1% 50.1%;
  animation: l9-0 1.5s infinite steps(1) alternate,
    l9-0-0 3s infinite steps(1) alternate;
}

.loader::before {
  content: "";
  background: currentColor;
  border-top-left-radius: 100px;
  transform: perspective(150px) rotateY(0deg) rotateX(0deg);
  transform-origin: bottom right;
  animation: l9-1 1.5s infinite linear alternate;
}
@keyframes l9-0 {
  0% {
    background-position: 0 100%, 100% 100%, 100% 0;
  }
  33% {
    background-position: 100% 100%, 100% 100%, 100% 0;
  }
  66% {
    background-position: 100% 0, 100% 0, 100% 0;
  }
}
@keyframes l9-0-0 {
  0% {
    transform: scaleX(1) rotate(0deg);
  }
  50% {
    transform: scaleX(-1) rotate(-90deg);
  }
}
@keyframes l9-1 {
  16.5% {
    transform: perspective(150px) rotateX(-90deg) rotateY(0deg) rotateX(0deg);
    filter: grayscale(0.8);
  }
  33% {
    transform: perspective(150px) rotateX(-180deg) rotateY(0deg) rotateX(0deg);
  }
  66% {
    transform: perspective(150px) rotateX(-180deg) rotateY(-180deg)
      rotateX(0deg);
  }
  100% {
    transform: perspective(150px) rotateX(-180deg) rotateY(-180deg)
      rotateX(-180deg);
    filter: grayscale(0.8);
  }
}

body {
  height: 100vh;
  color: var(--main-gray);
  background-color: var(--dark-white);
}

.color-input .react-colorful {
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 26px -12px rgba(0, 0, 0, 0.1);
  height: 38px;
  max-width: 100%;
}

.color-input .react-colorful__saturation {
  display: none;
}

.color-input .react-colorful__hue {
  height: 14px;
  border-radius: 6px;
}

.color-input .react-colorful__hue-pointer {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
